[user]
	name = Aku Kotkavuo
	email = aku.kotkavuo@gmail.com
[core]
	editor = vim
	excludesFile = ~/.gitignore
	untrackedCache = true
	quotePath = off
	pager = delta
[color]
	ui = true
[branch]
	autoSetupRebase = always
[push]
	default = simple
	autoSetupRemote = true
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpServerport = 587
	smtpUser = aku.kotkavuo@gmail.com
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[submodule]
	fetchJobs = 4
[rebase]
	autoStash = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[commit]
	gpgSign = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
