[user]
	name = Aku Kotkavuo
	email = aku.kotkavuo@gmail.com
	signingkey = E4963242172A95E1
[core]
	editor = vim
	excludesfile = ~/.gitignore
	fsmonitor = true
	untrackedcache = true
[color]
	ui = true
[branch]
	autosetuprebase = always
[push]
	default = simple
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpuser = aku.kotkavuo@gmail.com
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[submodule]
	fetchJobs = 4
[rebase]
	autostash = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[cinnabar]
	helper = /home/aku/.mozbuild/git-cinnabar/git-cinnabar-helper
	version-check = 1644361182
