[user]
	name = Aku Kotkavuo
	email = aku.kotkavuo@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[color]
	ui = true
[branch]
	autosetuprebase = always
[push]
	default = simple
[credential]
	helper = osxkeychain
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
